absl-py==2.1.0
accelerate==0.34.2
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anyio==4.8.0
async-timeout==5.0.1
attributedict==0.3.0
attrs==24.3.0
autocommand==2.2.2
-e git+https://github.com/thahn1230/AWQ_in_SpecInfer.git@11470e5b35e5cadc52bca2989372869782fbba4f#egg=awq
awq_inference_engine==0.0.0
backports.tarfile==1.2.0
bitsandbytes==0.45.0
blessings==1.7
cachetools==5.5.1
certifi==2024.12.14
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
codecov==2.1.13
colorama==0.4.6
coloredlogs==15.0.1
colour-runner==0.1.1
contourpy==1.3.1
coverage==7.6.10
cycler==0.12.1
DataProperty==1.1.0
datasets==3.2.0
deepdiff==8.1.1
dill==0.3.8
distlib==0.3.9
distro==1.9.0
einops==0.6.1
einops-exts==0.0.4
exceptiongroup==1.2.2
fastapi==0.115.7
ffmpy==0.5.0
filelock==3.17.0
flash_attn==2.7.4.post1
fonttools==4.55.4
frozenlist==1.5.0
fsspec==2024.2.0
gradio==3.35.2
gradio_client==0.2.9
h11==0.14.0
httpcore==0.17.3
httpx==0.24.0
huggingface-hub==0.27.1
humanfriendly==10.0
idna==3.10
importlib_metadata==8.0.0
importlib_resources==6.4.0
inflect==7.3.1
inspecta==0.1.3
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
Jinja2==3.1.3
jiter==0.8.2
joblib==1.4.2
jsonlines==4.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
latex2mathml==3.77.0
linkify-it-py==2.0.3
-e git+https://github.com/haotian-liu/LLaVA.git@c121f0432da27facab705978f83c4ada465e46fd#egg=llava
lm-eval==0.3.0
markdown-it-py==2.2.0
markdown2==2.5.2
MarkupSafe==2.1.5
matplotlib==3.10.0
mbstrdecoder==1.1.4
mdit-py-plugins==0.3.3
mdurl==0.1.2
more-itertools==10.3.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
narwhals==1.23.0
networkx==3.2.1
nltk==3.9.1
numexpr==2.10.2
numpy==1.26.3
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.1.105
nvidia-nvtx-cu12==12.1.105
openai==1.60.0
orderly-set==5.2.3
orjson==3.10.15
packaging==24.2
pandas==2.2.3
pathvalidate==3.2.3
peft==0.14.0
pillow==10.2.0
platformdirs==4.3.6
pluggy==1.5.0
portalocker==3.1.1
propcache==0.2.1
protobuf==3.20.0
psutil==6.1.1
pyarrow==19.0.0
pybind11==2.13.6
pycountry==24.6.1
pydantic==1.10.19
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.19.1
pyparsing==3.2.1
pyproject-api==1.9.0
pytablewriter==1.2.1
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2024.2
PyYAML==6.0.2
referencing==0.36.1
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rootpath==0.1.1
rouge_score==0.1.2
rpds-py==0.22.3
ruff==0.9.2
sacrebleu==1.5.0
safetensors==0.5.2
scikit-learn==1.2.2
scipy==1.15.1
semantic-version==2.10.0
sentencepiece==0.1.99
shellingham==1.5.4
shortuuid==1.0.13
six==1.17.0
sniffio==1.3.1
sqlitedict==2.1.0
starlette==0.45.2
svgwrite==1.4.3
sympy==1.13.1
tabledata==1.3.4
tcolorpy==0.1.7
termcolor==2.5.0
texttable==1.7.0
threadpoolctl==3.5.0
timm==0.6.13
tokenizers==0.20.3
toml==0.10.2
tomli==2.2.1
tomlkit==0.12.0
torch==2.3.0
torchaudio==2.5.1+cu121
torchvision==0.18.0
tox==4.24.1
tqdm==4.67.1
tqdm-multiprocess==0.0.11
transformers==4.46.0
triton==2.3.0
typeguard==4.3.0
typepy==1.3.4
typer==0.15.1
typing_extensions==4.12.2
tzdata==2025.1
uc-micro-py==1.0.3
urllib3==2.3.0
uvicorn==0.34.0
virtualenv==20.29.1
wavedrom==2.0.3.post3
websockets==11.0.3
xxhash==3.5.0
yarl==1.18.3
zipp==3.19.2
zstandard==0.23.0
